<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="App">
  <div ng-controller="AppController as people">
    <ul>
      <li ng-repeat="person in people.list">
        <label>
          <input type="radio" name="name" ng-model="people.fullName" value="{{person.name}}">{{person.name}}
        </label>
      </li>
    </ul>

    <tt>Добро пожаловать, {{people.fullName}}!</tt>
  </div>
</body>
</html>
